@tailwind base;
@tailwind components;
@tailwind utilities;

.line {
    position: absolute;
    top: 0;
    left: -5%;
    width: 110%;
    height: 5px;
    background-color: #0074d9;
    animation: moveUpDown 4s linear infinite alternate;
}

.line::after{
    content: '';
    background-color: #0074d9;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    transform: translateY(-20%);
}

.line::before{
    content: '';
    background-color: #0074d9;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: translateY(-20%);
}
  
@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(160px);
    }
}

.property-container{
  border: 1px solid rgb(221, 217, 217);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 4px;
}
  